<a href="https://colab.research.google.com/github/3zero69/-/blob/main/1003_%EC%82%AC%EC%9D%B4%ED%82%B7%EB%9F%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-10-03 09:54:22--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-10-03 09:54:22--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 142.251.111.102, 142.251.111.113, 142.251.111.101, ...
Connecting to drive.google.com (drive.google.com)|142.251.111.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/uitv2un5lekq65pj6os0h3ge76grncdm/1664790825000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download&uuid=15b267d8-60bd-4b0e-a8fc-23ac7e0351c5 [following]
Warning: wildcards not supported in HTTP.
--2022-10-03 09:54:22--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/uitv2un5lekq65pj6os0h3ge76grncdm/1664790825000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download&uuid=15b267d8-60bd-4b0e-a8fc-23ac7e0351c5
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 142.251.163.132, 2607:f8b0:4004:c1b::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|142.251.163.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6.2’

3gLj0Q6.2           100%[===================>]  38.29K  --.-KB/s    in 0.001s

2022-10-03 09:54:23 (51.0 MB/s) - ‘3gLj0Q6.2’ saved [39208/39208]

## 라이브러리 불러오기
---
아래 셀을 실행시켜 pandas 와 DecisionTreeRegressor 를 불러옵니다.

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

## 데이터 불러오기
---
아래 셀을 실행시켜 csv 파일 데이터를 DataFrame 객체로 불러옵니다.

In [3]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

## 결측치 제거하기
---
결측치를 제거하고, 결측치가 모두 제거됐는지 확인합니다.

In [4]:
test = test.dropna()
train = train.dropna()

print(train.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

1. train 데이터중 <br>
(1) 예측해야할 `count` 피쳐를 drop()함수를 사용하고, axis=1 옵션을 사용해 해당 열을 제외한 데이터들을 `X_train` 이라는 이름의 DataFrame 객체로 만들고 <br>
(2) `count` 피쳐만을 데이터로 갖는 `Y_train` 이라는 이름의 DataFrame 객체로 만드는 코드를 아래에 작성하세요

In [5]:
X_train = train.drop(['count'], axis=1)
X_train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0

In [6]:
Y_train = pd.DataFrame(train['count'])
Y_train.head()

   count
0   49.0
1  159.0
2   26.0
3   57.0
4  431.0

2. `model` 변수명으로 모델을 선언하고, fit() 함수를 사용해서, `X_train` 을 input 으로 삼고, `Y_train` 을 output 으로 삼아 모델을 훈련시키는 코드를 아래에 작성하세요

In [13]:
model = DecisionTreeRegressor(random_state=11)
model.fit(X_train, Y_train)

DecisionTreeRegressor(random_state=11)

3. predict() 를 이용해 test data 를 훈련된 모델로 예측한 data 를 생성하고 예측결과 상위 5개를 출력하는 코드를 작성하세요.

In [14]:
pred = model.predict(test)
pred

array([106., 143., 121.,  49.,  64., 115.,   5., 300.,  14., 165., 252.,
       214., 114.,  20., 214., 229.,  26., 213., 133., 215., 106.,  20.,
       138., 155., 119.,  46., 118., 129., 181.,  30.,  30.,  97., 278.,
        49., 165.,   5., 304.,  82., 121.,  37.,  59., 324., 217.,  82.,
        23.,  80., 215.,  94., 222.,  93., 256.,  51.,  20., 284.,   2.,
        16., 106.,  81., 305., 252., 140., 310.,   9., 229.,   5.,  20.,
        95.,  50.,  37.,  17., 317., 258.,  37., 127., 332.,  11., 252.,
       165., 103.,  90.,  74., 402., 159., 137., 252., 310., 133.,  92.,
        52.,  78., 117.,  30., 241., 140.,  19., 127., 107.,  82.,  64.,
       109.,  15., 180., 140., 229., 332., 153., 119., 108., 278.,  52.,
       152.,  19.,  95., 107., 213., 339.,  52., 115.,  23., 138., 226.,
        23., 229., 252., 121.,  44., 310., 425., 241.,  34.,  49., 137.,
        78., 129.,  42., 115., 167., 237., 161., 310., 300., 126.,   5.,
         9., 115.,   9.,  78., 181., 130.,  17., 262., 126., 141.,   9.,
       305., 133., 252.,  17., 124., 108.,  69., 114.,  92.,  85., 252.,
       214., 176.,  97., 221.,  37., 257., 138., 137., 137., 310., 133.,
        44.,  39., 126., 137., 113., 181., 317., 300., 133., 113., 119.,
        17., 305.,  17., 300., 122.,  49., 138., 252., 197., 310., 222.,
       315., 214.,  97., 278., 124., 184., 107., 106.,  15.,  92., 140.,
        39., 182., 250.,  49., 191., 252., 143.,  20.,  82., 109.,  95.,
       425., 131., 127.,  19., 258.,  32.,  97., 140.,  89.,   5., 315.,
       106.,  17., 103., 143., 214., 222., 181., 241.,  34., 402.,  30.,
        19., 127.,  26., 228.,  32., 222., 315.,  23., 176.,  94., 219.,
       125., 127., 324.,  17., 252.,  69., 214., 267.,  39., 252.,  92.,
        17., 151., 222., 124., 252., 115., 137., 121.,  97., 252., 222.,
       181., 122.,  49., 133.,  39., 252.,   8.,  95., 252., 214., 348.,
       380., 152., 107., 167.,  75., 252., 282., 213.,  49., 226., 150.,
         5.,  45.,  34.,  19., 213.,  45., 138., 102., 103., 431., 252.,
        92.,  94., 165.,  15., 103., 134., 233., 107.,  19., 274., 278.,
       120., 431.,  17.,  17., 335., 284., 108.,   9.,  15.,  92., 113.,
       310., 214., 176.,  82., 213.,  16.,  17.,  92., 100., 237., 214.,
       241.,  97.,  15.,  82.,  92.,  28., 226., 113., 100., 274., 317.,
       216.,  16.,  39., 126., 117.,  19.,  46.,  94., 271., 252., 113.,
        82., 152., 137., 158.,  45.,   5., 252., 135.,  94., 278.,  34.,
        35., 228.,  14.,  68.,  15., 226.,  85.,  75., 213., 222.,  94.,
       135., 226., 278., 112., 105.,  45.,  97., 176., 108.,  19.,  26.,
        19.,  46.,  92., 132.,  92., 172., 132., 380., 120., 150., 252.,
       111., 107., 213., 317.,  31., 108., 380., 239., 138.,  40.,  92.,
       221., 117., 119.,  42., 317., 252., 278.,  91., 152., 158., 120.,
       102., 127.,  74., 108., 214., 221., 107., 111.,  80., 125., 252.,
        74., 151., 309., 274., 277.,  91.,  37., 221.,   2.,   5., 213.,
       252.,  92., 117.,  34.,  17., 219., 153., 402., 278.,  75., 138.,
       226., 150.,  82.,  22., 267.,  83., 228., 324., 148.,  18., 256.,
        91.,  31., 188., 215.,  35., 126., 117., 305., 214., 213., 214.,
       425.,  74.,   5., 158., 181., 213.,  46., 216.,  27.,  20.,  82.,
        35., 214., 151., 173.,   5.,  82.,  33., 252.,  95.,  37.,  92.,
        17.,  33.,  33., 271.,  11., 152., 227., 293., 127.,  92.,  37.,
        92., 103., 213.,  33.,  24., 173.,  24., 222., 173.,  31., 109.,
       188., 176., 366.,  30.,  92.,  33.,  37.,  74., 108.,  30., 107.,
        86., 199., 300., 152., 278., 199., 252.,  82.,  31.,  19.,  33.,
       100.,  17.,   2.,  93.,  20., 252., 274., 165., 100.,  68.,  35.,
       138.,  87.,  92., 188.,  17., 227., 124.,  23., 215.,  92.,  70.,
       103., 151.,  86., 431., 278., 227., 127., 158.,  24.,  94.,  42.,
        24.,  56., 226., 111., 267., 171.,  87., 213., 135., 335.,   3.,
         8., 215., 205.,  86.,  22.,  46.,  92., 102., 217.,  69.,   7.,
       135.,  90.,  79., 324., 151., 252., 339., 252., 214.,  82.,  75.,
        92., 176., 252., 119.,  94.,  24., 124., 252.,  32.,  71.,  94.,
        75., 180., 151., 402., 100.,  95.,  91., 310., 113., 180., 153.,
         5., 267.,  15.,  33.,  28., 127.,  92., 199., 278., 116.,  91.,
        32., 191.,  11., 135.,  15.,   5.,  95., 115.,   5.,  86., 127.,
        30., 335., 214.,  17., 431., 150., 213.,  34.,  78.,  35., 316.,
       135., 213., 267.])

In [15]:
s = pred.argsort()
pred[s][::-1]

array([431., 431., 431., 431., 425., 425., 425., 402., 402., 402., 402.,
       380., 380., 380., 366., 348., 339., 339., 335., 335., 335., 332.,
       332., 324., 324., 324., 324., 317., 317., 317., 317., 317., 316.,
       315., 315., 315., 310., 310., 310., 310., 310., 310., 310., 310.,
       309., 305., 305., 305., 305., 304., 300., 300., 300., 300., 300.,
       293., 284., 284., 282., 278., 278., 278., 278., 278., 278., 278.,
       278., 278., 278., 278., 277., 274., 274., 274., 274., 271., 271.,
       267., 267., 267., 267., 267., 262., 258., 258., 257., 256., 256.,
       252., 252., 252., 252., 252., 252., 252., 252., 252., 252., 252.,
       252., 252., 252., 252., 252., 252., 252., 252., 252., 252., 252.,
       252., 252., 252., 252., 252., 252., 252., 252., 250., 241., 241.,
       241., 241., 239., 237., 237., 233., 229., 229., 229., 229., 228.,
       228., 228., 227., 227., 227., 226., 226., 226., 226., 226., 226.,
       226., 222., 222., 222., 222., 222., 222., 222., 222., 221., 221.,
       221., 221., 219., 219., 217., 217., 216., 216., 215., 215., 215.,
       215., 215., 214., 214., 214., 214., 214., 214., 214., 214., 214.,
       214., 214., 214., 214., 214., 214., 213., 213., 213., 213., 213.,
       213., 213., 213., 213., 213., 213., 213., 213., 213., 205., 199.,
       199., 199., 197., 191., 191., 188., 188., 188., 184., 182., 181.,
       181., 181., 181., 181., 181., 180., 180., 180., 176., 176., 176.,
       176., 176., 176., 173., 173., 173., 172., 171., 167., 167., 165.,
       165., 165., 165., 165., 161., 159., 158., 158., 158., 158., 155.,
       153., 153., 153., 152., 152., 152., 152., 152., 152., 151., 151.,
       151., 151., 151., 151., 150., 150., 150., 150., 148., 143., 143.,
       143., 141., 140., 140., 140., 140., 140., 138., 138., 138., 138.,
       138., 138., 138., 138., 137., 137., 137., 137., 137., 137., 137.,
       135., 135., 135., 135., 135., 135., 134., 133., 133., 133., 133.,
       133., 133., 132., 132., 131., 130., 129., 129., 127., 127., 127.,
       127., 127., 127., 127., 127., 127., 127., 126., 126., 126., 126.,
       126., 125., 125., 124., 124., 124., 124., 124., 122., 122., 121.,
       121., 121., 121., 120., 120., 120., 119., 119., 119., 119., 119.,
       118., 117., 117., 117., 117., 117., 116., 115., 115., 115., 115.,
       115., 115., 114., 114., 113., 113., 113., 113., 113., 113., 112.,
       111., 111., 111., 109., 109., 109., 108., 108., 108., 108., 108.,
       108., 108., 107., 107., 107., 107., 107., 107., 107., 107., 106.,
       106., 106., 106., 106., 105., 103., 103., 103., 103., 103., 103.,
       102., 102., 102., 100., 100., 100., 100., 100.,  97.,  97.,  97.,
        97.,  97.,  97.,  97.,  95.,  95.,  95.,  95.,  95.,  95.,  95.,
        94.,  94.,  94.,  94.,  94.,  94.,  94.,  94.,  94.,  93.,  93.,
        92.,  92.,  92.,  92.,  92.,  92.,  92.,  92.,  92.,  92.,  92.,
        92.,  92.,  92.,  92.,  92.,  92.,  92.,  92.,  92.,  92.,  91.,
        91.,  91.,  91.,  91.,  90.,  90.,  89.,  87.,  87.,  86.,  86.,
        86.,  86.,  85.,  85.,  83.,  82.,  82.,  82.,  82.,  82.,  82.,
        82.,  82.,  82.,  82.,  82.,  82.,  81.,  80.,  80.,  79.,  78.,
        78.,  78.,  78.,  75.,  75.,  75.,  75.,  75.,  74.,  74.,  74.,
        74.,  74.,  71.,  70.,  69.,  69.,  69.,  68.,  68.,  64.,  64.,
        59.,  56.,  52.,  52.,  52.,  51.,  50.,  49.,  49.,  49.,  49.,
        49.,  49.,  49.,  46.,  46.,  46.,  46.,  46.,  45.,  45.,  45.,
        45.,  44.,  44.,  42.,  42.,  42.,  40.,  39.,  39.,  39.,  39.,
        39.,  37.,  37.,  37.,  37.,  37.,  37.,  37.,  37.,  35.,  35.,
        35.,  35.,  35.,  34.,  34.,  34.,  34.,  34.,  34.,  33.,  33.,
        33.,  33.,  33.,  33.,  33.,  32.,  32.,  32.,  32.,  31.,  31.,
        31.,  31.,  30.,  30.,  30.,  30.,  30.,  30.,  30.,  28.,  28.,
        27.,  26.,  26.,  26.,  24.,  24.,  24.,  24.,  24.,  23.,  23.,
        23.,  23.,  23.,  22.,  22.,  20.,  20.,  20.,  20.,  20.,  20.,
        20.,  19.,  19.,  19.,  19.,  19.,  19.,  19.,  19.,  19.,  19.,
        18.,  17.,  17.,  17.,  17.,  17.,  17.,  17.,  17.,  17.,  17.,
        17.,  17.,  17.,  17.,  17.,  17.,  16.,  16.,  16.,  15.,  15.,
        15.,  15.,  15.,  15.,  15.,  15.,  14.,  14.,  11.,  11.,  11.,
         9.,   9.,   9.,   9.,   9.,   8.,   8.,   7.,   5.,   5.,   5.,
         5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   5.,   3.,
         2.,   2.,   2.])

In [16]:
pred[s][::-1][:5]

array([431., 431., 431., 431., 425.])

In [17]:
pred = model.predict(test)
s = pred.argsort()
pred[s][::-1][:5]

array([431., 431., 431., 431., 425.])

# Exercise 2

## 데이터 다운로드
---
아래 셀을 실행시켜 데이터를 colab 에 불러옵니다.
셀 실행은 Ctrl + Enter 를 이용해 실행시킬 수 있습니다.

In [18]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-10-03 09:58:20--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2022-10-03 09:58:20--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 142.251.111.138, 142.251.111.100, 142.251.111.139, ...
Connecting to drive.google.com (drive.google.com)|142.251.111.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/l8msmnep9ee5kp34ihm69621afvl30fu/1664791050000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=a2870d71-da9a-45ce-9500-8cd828f3ef14 [following]
Warning: wildcards not supported in HTTP.
--2022-10-03 09:58:20--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/l8msmnep9ee5kp34ihm69621afvl30fu/1664791050000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=a2870d71-da9a-45ce-9500-8cd828f3ef14
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 142.251.163.132, 2607:f8b0:4004:c1b::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|142.251.163.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‘3i4n1QB.2’

3i4n1QB.2           100%[===================>] 134.47K  --.-KB/s    in 0.001s

2022-10-03 09:58:20 (134 MB/s) - ‘3i4n1QB.2’ saved [137694/137694]

In [19]:
# 라이브러리 불러오기

import pandas as pd
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

In [20]:
train = pd.read_csv('data/train.csv')

# Scailing
scaler = MinMaxScaler()
scaler.fit(train[['fixed acidity']])
train['Scaled fixed acidity'] = scaler.transform(train[['fixed acidity']])

# Encoding
encoder = OneHotEncoder()
encoder.fit(train[['type']])
onehot = encoder.transform(train[['type']])
onehot = onehot.toarray()
onehot = pd.DataFrame(onehot)
onehot.columns = encoder.get_feature_names()
train = pd.concat([train, onehot], axis = 1)
train = train.drop(columns = ['type'])
train.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Scaled fixed acidity,x0_red,x0_white
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,0.148760,0.0,1.0
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,0.413223,1.0,0.0
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,0.338843,0.0,1.0
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,0.264463,0.0,1.0
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,0.330579,0.0,1.0

4. sklearn에 model_selection 모듈에서 KFold를 불러와보세요

In [21]:
from sklearn.model_selection import KFold

5. KFold에 n_splits = 5, shuffle = True, random_state = 0이라는 인자를 추가해 "kf"라는 변수에 저장해보세요

In [22]:
kf = KFold(n_splits = 5, shuffle=True, random_state=0)

6. 반복문을 통해서 1번부터 5번까지의 데이터에 접근해보세요

In [24]:
for train_idx, valid_idx in kf.split(train): 
  train_data = train.iloc[train_idx]
  valid_data = train.iloc[valid_idx]

# 교재 참고

'''for train_index,test_index in kfold.split(iris_df):
     n_iter+=1
     label_train=iris_df['label'].iloc[train_index]
     label_test=iris_df['label'].iloc[test_index] '''